<ion-view title="Cadastro do Imóvel">

    <ion-content class="padding">

        <form name="frm" novalidate ng-submit="salvar(frm)">
            <div class="list">
                <label class="item item-input item-stacked-label">
					<span class="input-label">Titulo</span>
					<input name="titulo" type="text" ng-model="imovel.titulo" ng-minlength="10" ng-maxlength="50" autocomplete="true" autocorrect="true" required>
				</label>
                <div class="padding">
                    <div ng-messages="frm.titulo.$error" ng-if="frm.titulo.$touched" role="alert" style="color:red">
                        <div ng-message-exp="['required']">Título é requerido!</div>
                        <div ng-message-exp="['minlength', 'maxlength']">Título deve conter entre 10 e 50 caracteres!</div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Descrição</span>
					<textarea name="descricao" type="text" ng-model="imovel.descricao" ng-minlength="10" ng-maxlength="200" autocomplete="true" autocorrect="true" required></textarea>
				</label>
                <div class="padding">
                    <div ng-messages="frm.descricao.$error" ng-if="frm.descricao.$touched" role="alert" style="color:red">
                        <div ng-message-exp="['required']">A descrição é requerida!</div>
                        <div ng-message-exp="['minlength', 'maxlength']">A descrição deve conter entre 10 e 100 caracteres!</div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Endereço</span>
					<input name="endereco" type="text" ng-model="imovel.endereco" autocomplete="true" autocorrect="true" required>
				</label>
                <div class="padding">
                    <div ng-messages="frm.endereco.$error" ng-if="frm.endereco.$touched" role="alert" style="color:red">
                        <div ng-message-exp="['required']">O endereço é requerida!</div>
                        <div ng-message-exp="['minlength', 'maxlength']">O endereço deve conter entre 10 e 50 caracteres!</div>
                    </div>
                </div>

                <label class="item item-input item-select">
					<span class="input-label">Cidade</span>
					<select name="cidade" ng-model="imovel.cidade" ng-options="valor for valor in cidades" required>
					</select>
				</label>
                <div class="padding">
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Valor</span>
					<input nome="valor" type="text" ng-model="imovel.valor" required>
				</label>
                <div class="padding">
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Telefone</span>
					<input name="telefone" type="tel" ng-model="imovel.telefone" required>
				</label>
                <div class="padding">
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">E-mail</span>
					<input name="email" type="email" ng-model="imovel.email" required>
				</label>
                <div class="padding">
                    <div ng-messages="frm.email.$error" ng-if="frm.email.$touched" role="alert" style="color:red">
                        <div ng-message-exp="['required']">O e-mail é requerido!</div>
                        <div ng-message-exp="['email']">E-mail inválido!</div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Disponibilidade do imóvel</span>
					<input name="dataDisponibilidade" type="date" ng-model="imovel.dataDisponibilidade" required>
				</label>
                <div class="padding">
                </div>

                <label class="item item-input item-stacked-label">
					<span class="input-label">Foto</span>
					<input name="foto "type="text" placeholder="Url da foto" ng-model="imovel.foto" required>
				</label>
                <div ng-messages="frm.foto.$error" ng-if="frm.foto.$touched" role="alert" style="color:red">
                    <div ng-message-exp="['required']">O endereço de foto é requerido!</div>
                </div>
            </div>


            <div class="padding">
                <button class="button button-full button-positive" type="submit">
					Salvar
				</button>
            </div>
        </form>

    </ion-content>

</ion-view>