<ion-view title="Detalhe do Imóvel">
    <ion-content has-header="true" padding="true">
        <div class="list card">
            <div class="item item-divider">
                <h2 style="text-align: center;">{{imovel.titulo}}</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="{{imovel.foto}}">
                <p> {{imovel.descricao}} </p>
            </div>
            <div class="item">
                <h3 style="text-align: center;">Valor: R$ {{imovel.valor}}</h3>
            </div>
            <div class="item">
                <h3 style="text-align: center;">Data de disponibilidade do imóvel: {{imovel.dataDisponibilidade | date:'dd/MM/yyyy'}}</h3>
            </div>
        </div>
        <div class="list card">
            <a class="item item-icon-left" href="tel: {{imovel.telefone}}">
                <i class="icon ion-android-call"></i>Ligar
                <p>{{imovel.telefone}}</p>
            </a>
            <a class="item item-icon-left" href="sms: {{imovel.telefone}}">
                <i class="icon ion-chatbox-working"></i>SMS
                <p>{{imovel.telefone}}</p>
            </a>
            <a class="item item-icon-left" href="mailto: {{imovel.email}}">
                <i class="icon ion-email"></i>Email
                <p>{{imovel.email}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>